**Machine learning project**

Predicting MRSP (manufacturer's suggested retail price)
* Read the cars CSV file and explore its columns
* Select features( explore mutual information and feature engineering to select and create features)
* select target
* Preprocess data:
1. Clean missing values in numeric features
2. Clean missing values in categoracal features
3. Encode categorical features
* Split data to train and validation (Single or cross validation?)
* Choose model (regression or classification)
* Model validation: create a function to test performance of the model
* Optimize model parameters (best leaf nodes, n estimators, patience, learning rate...) 
* Build final model train it on all data

In [322]:
import pandas as pd   
# Load data
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [323]:
data = pd.read_csv('/content/gdrive/MyDrive/cars.csv')

In [324]:
len(pd.read_csv('/content/gdrive/MyDrive/cars.csv')['Make'].value_counts())

48

In [325]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [326]:
data

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

**Getting the percetage of missing values of column **

In [327]:
for col in data.columns:
  print(f'{col}:{(data[col].isnull().sum()/data.shape[0])*100:.3f}%')

Make:0.000%
Model:0.000%
Year:0.000%
Engine Fuel Type:0.025%
Engine HP:0.579%
Engine Cylinders:0.252%
Transmission Type:0.000%
Driven_Wheels:0.000%
Number of Doors:0.050%
Market Category:31.408%
Vehicle Size:0.000%
Vehicle Style:0.000%
highway MPG:0.000%
city mpg:0.000%
Popularity:0.000%
MSRP:0.000%

In [328]:
test_1=data

In [329]:
#Deleting maket category 
test_1.drop('Market Category',axis=1,inplace=True)

In [330]:
test_1

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Midsize,Sedan,26,17,61,28995

In [331]:
nancol_cat=[]
nancol_num=[]
for col in data.columns:
  print(f'{col}:{(data[col].isnull().sum()/data.shape[0])*100:.3f}%')
  if (data[col].isnull().sum()/data.shape[0])*100 >0 and data[col].dtype=='object':
    nancol_cat.append(col)
  elif (data[col].isnull().sum()/data.shape[0])*100 >0 and data[col].dtype=='float64':
    nancol_num.append(col)

Make:0.000%
Model:0.000%
Year:0.000%
Engine Fuel Type:0.025%
Engine HP:0.579%
Engine Cylinders:0.252%
Transmission Type:0.000%
Driven_Wheels:0.000%
Number of Doors:0.050%
Vehicle Size:0.000%
Vehicle Style:0.000%
highway MPG:0.000%
city mpg:0.000%
Popularity:0.000%
MSRP:0.000%

In [332]:
for x in nancol_num:
  data[x]=data[x].interpolate(method='linear')

Dealing With Nan values

In [333]:
for col in data.columns:
  print(f'{col}:{(data[col].isnull().sum()/data.shape[0])*100:.3f}%')

Make:0.000%
Model:0.000%
Year:0.000%
Engine Fuel Type:0.025%
Engine HP:0.000%
Engine Cylinders:0.000%
Transmission Type:0.000%
Driven_Wheels:0.000%
Number of Doors:0.000%
Vehicle Size:0.000%
Vehicle Style:0.000%
highway MPG:0.000%
city mpg:0.000%
Popularity:0.000%
MSRP:0.000%

In [334]:
#Taking look at the 3 recoreds with nan value in
data[data['Engine Fuel Type'].isna()]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,Midsize,Sedan,25,17,481,18499

In [335]:
#replacing the nan recordes using the Mode of each Company fuel
import numpy as np
Fuel_type=data.groupby(['Make'])['Engine Fuel Type'].agg(pd.Series.mode)
def replace_nan(value):
    if pd.isnull(value['Engine Fuel Type']):
      return Fuel_type[value['Make']]
    else:
      return value['Engine Fuel Type']

In [336]:
data['Engine Fuel Type']=data.apply(lambda x:replace_nan(x),axis=1)

In [337]:
#splitting cat and num data so we can work on each one alone
cat_data=data.select_dtypes(include='object')
num_data=data.select_dtypes(exclude='object')

In [338]:
#Getting the catigorical columns with 16 uniuque data or less
for col in cat_data.columns:
  if 16<len(cat_data[col].unique()):
    cat_data.drop(col,axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [339]:
cat_data

,Engine Fuel Type,Transmission Type,Driven_Wheels,Vehicle Size,Vehicle Style
0,premium unleaded (required),MANUAL,rear wheel drive,Compact,Coupe
1,premium unleaded (required),MANUAL,rear wheel drive,Compact,Convertible
2,premium unleaded (required),MANUAL,rear wheel drive,Compact,Coupe
3,premium unleaded (required),MANUAL,rear wheel drive,Compact,Coupe
4,premium unleaded (required),MANUAL,rear wheel drive,Compact,Convertible
...,...,...,...,...,...
11909,premium unleaded (required),AUTOMATIC,all wheel drive,Midsize,4dr Hatchback
11910,premium unleaded (required),AUTOMATIC,all wheel drive,Midsize,4dr Hatchback
11911,premium unleaded (required),AUTOMATIC,all wheel drive,Midsize,4dr Hatchback
11912,premium unleaded (recommended),AUTOMATIC,all wheel drive,Midsize,4dr Hatchback
11913,regular unleaded,AUTOMATIC,front wheel drive,Midsize,Sedan

In [340]:
cat_data=pd.get_dummies(cat_data)

In [341]:
num_data['Year']=num_data['Year'].apply(lambda x:2022-x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [342]:
#Normalizing num data
from sklearn import preprocessing
num_data = pd.DataFrame(preprocessing.normalize(num_data),columns=num_data.columns)

In [343]:
#df JOIN
def make_df(num,cat):
  df=pd.DataFrame()
  for col in num:
    df[col]=num[col]
  for col in cat:
    df[col]=cat[col]
  return df

In [344]:
new_df=make_df(num_data,cat_data)

In [345]:
#Ranking every car company depends on the avg MSRP
new_df['Make']=data["Make"]
avg_price = new_df.groupby('Make')['MSRP'].agg(np.mean).sort_values(ascending=False)
car_type=[]
car_msrp=[]
full_info=[]
for x in avg_price.index:
  car_type.append(x)
for x in avg_price:
  car_msrp.append(x)
for x,y in zip(car_msrp,car_type):
  full_info.append([x,y])
full_info.sort(reverse=True)
dic={}
for pos,val in enumerate(full_info[::-1]):
  dic[val[1]]=pos
new_df['Make']=new_df['Make'].apply(lambda x:dic[x])

In [346]:
new_df

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP,Engine Fuel Type_diesel,Engine Fuel Type_electric,...,Vehicle Style_Convertible SUV,Vehicle Style_Coupe,Vehicle Style_Crew Cab Pickup,Vehicle Style_Extended Cab Pickup,Vehicle Style_Passenger Minivan,Vehicle Style_Passenger Van,Vehicle Style_Regular Cab Pickup,Vehicle Style_Sedan,Vehicle Style_Wagon,Make
0,0.000238,0.007235,0.000130,0.000043,0.000562,0.000410,0.084575,0.996391,0,0,...,0,1,0,0,0,0,0,0,0,12
1,0.000269,0.007346,0.000147,0.000049,0.000686,0.000465,0.095888,0.995365,0,0,...,0,0,0,0,0,0,0,0,0,12
2,0.000301,0.008205,0.000164,0.000055,0.000766,0.000547,0.107107,0.994213,0,0,...,0,1,0,0,0,0,0,0,0,12
3,0.000370,0.007741,0.000202,0.000067,0.000942,0.000606,0.131807,0.991244,0,0,...,0,1,0,0,0,0,0,0,0,12
4,0.000317,0.006624,0.000173,0.000058,0.000806,0.000518,0.112780,0.993597,0,0,...,0,0,0,0,0,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,0.000217,0.006505,0.000130,0.000087,0.000499,0.000347,0.004423,0.999969,0,0,...,0,0,0,0,0,0,0,0,0,26
11910,0.000176,0.005294,0.000106,0.000071,0.000406,0.000282,0.003600,0.999979,0,0,...,0,0,0,0,0,0,0,0,0,26
11911,0.000198,0.005926,0.000119,0.000079,0.000454,0.000316,0.004030,0.999974,0,0,...,0,0,0,0,0,0,0,0,0,26
11912,0.000177,0.005891,0.000118,0.000079,0.000452,0.000314,0.004006,0.999974,0,0,...,0,0,0,0,0,0,0,0,0,26
11913,0.000552,0.007622,0.000207,0.000138,0.000897,0.000586,0.002104,0.999968,0,0,...,0,0,0,0,0,0,0,1,0,29

In [347]:
#Splitting data
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
new_df=new_df.drop('MSRP',axis=1)
y=data['MSRP']
x_train,x_test,y_train,y_test=train_test_split(new_df,y,test_size=.15,random_state=0)

In [348]:
#Getting the best number of trees
from sklearn.tree import DecisionTreeRegressor
mae=[]
for leaf in range(2,1500):
  model=DecisionTreeRegressor(max_leaf_nodes=leaf)
  model.fit(x_train,y_train)
  mae.append(mean_absolute_error(y_test,model.predict(x_test)))

In [349]:
#Randomforest model
model=RandomForestRegressor(max_leaf_nodes=mae.index(min(mae))+2,n_estimators=1000)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(mean_absolute_error(y_test,y_pred))

547.3354790419614

In [350]:
print(mae.index(min(mae))+2)

1485

In [362]:
from sklearn.model_selection import cross_val_score
scoring = 'neg_mean_absolute_error'
mae = cross_val_score(model,new_df, y, cv=10,scoring=scoring)

In [364]:
mae=mae*-1

In [365]:
mae.mean()

1074.5697780798516